* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

input, button, textarea {
  outline: none;
  border-style: solid;
  background: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  object-fit: cover;
}

canvas {
  border: none;
  display: block;
}
